.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1440px;
  &-menu {
    position: absolute;
    height: 100%;
    z-index: 100;
    position: fixed;
    transform: translateX(-320px);
  }
  &--active {
    opacity: 0.2;
  }
}

.aside {
  z-index: 10;
  display: flex;
  box-shadow: rgba(14, 24, 80, 0.2) 16px 0px 52px;
  flex-direction: column;
  background-color: $decoration-color-2;
  height: 2025px;
  width: 100vw;
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__back-btn {
    margin-left: 16px;
    margin-top: 16px;
    cursor: pointer;
  }
  &__logo {
    margin-right: auto;
    margin-left: 17px;
    margin-top: 16px;
  }
  &__search-btn {
    background-color: transparent;
    border: transparent;
    padding: 0;
    margin-right: 16px;
    margin-top: 16px;
  }
  &__nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__link {
    display: flex;
    margin-bottom: 24px;
    margin-left: 16px;
    position: relative;
    align-items: center;
    font-weight: 500;
  }
  &__link:first-child {
    margin-top: 32px;
  }

  &__link:hover {
    color: $decoration-color-3;
  }
  &__link:hover::before {
    content: '';
    display: block;
    position: absolute;
    left: -16px;
    border-radius: 5px;
    width: 4px;
    height: 35px;
    background: $decoration-color-1;
  }

  &__contact {
    display: flex;
  }
  &__select-language {
    display: flex;
    font-weight: 500;
  }
  &__contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  &__mail {
    margin-bottom: 14px;
    margin-top: 12px;
    color: $decoration-color-7;
    font-size: 16px;
    font-weight: 500;
    margin-left: 16px;
  }
  &__phone {
    color: $decoration-color-7;
    font-family: 'TTLakes';
    font-size: 24px;
    font-weight: 700;
    margin-left: 16px;
  }
  &--active {
    transform: translateX(100%);
    transition: all 1s;
  }
  &--close {
    transform: translateX(-100%);
    transition: all 500ms;
  }
}

.contact__icon:first-child {
  margin-left: 16px;
}

.contact__icon {
  margin-right: 13px;
  cursor: pointer;
}

.select-language__item:first-child {
  margin-left: 16px;
}
.select-language__item:hover {
  color: $decoration-color-3;
}
.select-language__item {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 8px;
}
@media only screen and (min-width: 320px) {
  .aside {
    width: 320px;
    &__link:last-child {
      margin-bottom: 100px;
    }
  }
}
@media only screen and (min-width: 768px) {
  .aside__link:last-child {
    margin-bottom: 268px;
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    flex-direction: row;
    &-menu {
      position: static;
      transform: translateX(0%);
    }
  }

  .aside {
    display: flex;
    box-shadow: none;
    &__back-btn {
      display: none;
    }
    &__link:last-child {
      margin-bottom: 250px;
    }
    &--active {
      transform: none;
      background-color: rgba($color: $decoration-color-2, $alpha: 0.8);
    }
  }
}
