$decoration-color-1: #41f6d7;
$decoration-color-2: #ffffff;
$decoration-color-3: #7e7e82;
$decoration-color-4: #eaeaea;
$decoration-color-5: #f8f8f8;
$decoration-color-6: #ff3e79;
$decoration-color-7: #1b1c21;
$decoration-color-8: #dddddd;
$decoration-color-9: #b5b6bc;
$decoration-color-10: #9d9ea0;
$shadow: #0e185030;
