.site-footer {
  font-family: 'TTLakes';
  box-sizing: border-box;
  line-height: 16px;
  color: $decoration-color-3;
  text-align: center;
  opacity: 0.72;
  max-width: 1440px;
  &__item {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .site-footer {
    display: flex;
    justify-content: space-between;
    &__item-copyright {
      text-align: left;
    }
    &__item-privacy {
      text-align: center;
    }
    &__item-offer {
      width: 213px;
      text-align: right;
    }
  }
}

@media screen and (min-width: 1440px) {
  .site-footer {
    z-index: 2;
    &__item-offer {
      width: 340px;
    }
  }
}
