html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #1b1c21;
  font-family: 'TTLakes';
  background: #f8f8f8;
  position: relative;
}
.lock {
  overflow: hidden;
}
.body_wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul[class] {
  list-style: none;
  padding: 0;
}
