html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #1b1c21;
  font-family: 'TTLakes';
  background: $decoration-color-5;
  position: relative;
}
.lock {
  overflow: hidden;
}
.body_wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul[class] {
  list-style: none;
  padding: 0;
}
.main {
  &--active {
    opacity: 0.3;
  }
  &__services-section {
    padding-top: 42px;
  }
  &__brands {
    padding-bottom: 24px;
  }
  &__devices {
    margin-bottom: 24px;
  }
  &__price {
    margin-bottom: 12px;
  }
  &__site-footer {
    padding-top: 16px;
    margin: 0 16px;
    margin-bottom: 23px;
  }
}

@media only screen and (min-width: 768px) {
  .main {
    &__brands {
      padding-bottom: 32px;
    }
    &__devices {
      margin-bottom: 36px;
    }
    &__price {
      margin-bottom: 37px;
    }
    &__site-footer {
      padding-top: 32px;
      margin: 0 24px;
      margin-bottom: 20px;
    }
  }
}
@media only screen and (min-width: 1440px) {
  .main {
    padding-left: 320px;
    &__brands {
      padding-bottom: 50px;
    }
    &__devices {
      margin-bottom: 50px;
    }
    &__price {
      margin-bottom: 95px;
    }
    &__site-footer {
      margin-bottom: 32px;
    }
  }
}
