.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  background-color: $decoration-color-2;
  &__burger-btn {
    background-color: $decoration-color-2;
    border: $decoration-color-2;
    padding: 0;
    position: relative;
    margin-right: 16px;
    cursor: pointer;
  }
  &__logo {
    margin-right: auto;
    position: relative;
  }
  &__nav-menu {
    display: flex;
  }
  &__icon-link {
    margin-right: 13px;
    position: relative;
    &--margin {
      margin-right: 35px;
    }
    &--margin::after {
      content: '';
      display: block;
      position: relative;
      top: -20px;
      left: 47px;
      width: 32px;
      height: 2px;
      background: $decoration-color-4;
      transform: rotate(90deg);
    }
  }

  &__icon-link[hidden] {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header__burger-btn {
    margin-right: 42px;
  }
  .header__burger-btn::after {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    right: -40px;
    width: 32px;
    height: 2px;
    background: $decoration-color-4;
    transform: rotate(90deg);
  }
  .header__icon-link[hidden] {
    display: block;
  }
}
@media only screen and (min-width: 1440px) {
  .header {
    display: none;
  }
}
