.brands {
  &__content {
    box-sizing: border-box;
    width: 100%;
    line-height: 24px;
    color: $decoration-color-3;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    background: linear-gradient(
      to right,
      $decoration-color-5 30%,
      $decoration-color-2
    );
  }

  &__title {
    margin: 0;
    font-size: 16px;
    font-family: 'TTLakes';
    font-weight: 500;
    padding: 16px;
  }
  &__swiper {
    padding-left: 16px;
  }

  &__container {
    height: 100%;
  }

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    box-sizing: border-box;
    width: 240px;
    height: 72px;
    padding-left: 16px;
    font-size: 18px;
    background: $decoration-color-2;
    border: 1px solid $decoration-color-4;
    border-radius: 6px;
    margin-right: 10px;
  }

  &__item-link {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 40px;
    height: 40px;
    background-image: url(../img/icons/go.svg);
  }

  &__btn {
    display: none;
    outline: none;
  }
}

.content-height--l {
  height: auto;
}

.btn-more {
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: relative;
  left: 28px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  &::before {
    position: absolute;
    top: 0;
    left: -30px;
    width: 24px;
    height: 24px;
    content: '';
    background: url(../img/icons/expand.svg) no-repeat 50% 50%;
  }
}

.read-more--click::before {
  background: url(../img/icons/expand.svg) no-repeat 50% 50%;
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .brands {
    &__title {
      padding-left: 24px;
    }

    &__container {
      height: 160px;
    }

    &__list {
      flex-wrap: wrap;
    }

    &__item {
      width: 224px;
      margin-right: 24px;
      margin-bottom: 16px;
    }

    &__btn {
      display: block;
      margin: 8px 0 0 24px;
    }
    &__swiper {
      padding-left: 24px;
    }
  }
  .content-height--l {
    height: auto;
  }
}
@media screen and (min-width: 1440px) {
  .brands {
    &__title {
      padding-left: 32px;
    }
    &__container {
      height: 160px;
    }

    &__item {
      width: 240px;
      margin-right: 32px;
    }
    &__btn {
      margin-left: 32px;
    }
    &__swiper {
      padding-left: 32px;
    }
  }
  .content-height--l {
    height: auto;
  }
}
