.price {
  &__content {
    box-sizing: border-box;
    width: 100%;
    line-height: 24px;
    color: $decoration-color-3;
    text-transform: uppercase;
    background: linear-gradient(to right,
        $decoration-color-5 30%,
        $decoration-color-2 );
  }

  &__title {
    margin: 0;
    font-size: 16px;
    font-family: 'TTLakes';
    font-weight: 500;
    padding: 16px;
  }

  &__container {
    height: 100%;
    margin-bottom: 16px;
    overflow-x: hidden;
  }

  &__list {
    display: flex;
    margin-left: 20px;
  }

  &__item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 260px;
    height: 200px;
    padding: 16px;
    background: $decoration-color-2;
    border-radius: 6px;
    margin-right: 10px;
  }

  &__item-title {
    font-family: 'TTLakes';
    margin: 0;
    margin-bottom: 2px;
    line-height: 16px;
    color: $decoration-color-3;
    opacity: 0.72;
  }

  &__item-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 16px;
  }

  &__item-text-term {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__item-btn.btn-oval {
    width: 119px;
  }

  &__info-text {
    margin: 0;
    margin-bottom: 16px;
  }

  &__link {
    font-family: 'TTLakes';
    position: relative;
    font-size: 16px;
    line-height: 24px;
    color: $decoration-color-7;
    text-decoration: none;
    letter-spacing: -0.2px;
    font-weight: 500;
  }

  &__link::after {
    position: absolute;
    top: auto;
    left: 100%;
    width: 24px;
    height: 24px;
    content: '';
    background: url(../img/icons/Line.svg) no-repeat 50% 50%;
  }

  &__table {
    display: none;
  }

  &__table-th {
    padding: 16px;
    color: $decoration-color-3;
    text-align: left;
    font-weight: 500;
  }

  &__table-tbody {
    background-color: $decoration-color-2;

  }

  &__table-tr {
    height: 64px;
    margin: 16px;
    position: relative;
    border-radius: 20px;

    &:not(:last-child)::after {
      content: '';
      background-color: $decoration-color-4;
      position: absolute;
      width: calc(100% - 48px);
      height: 1px;
      top: 100%;
      left: 24px;
    }
  }

  &__table-tr:first-child {
    border: none;
  }

  &__table-td {
    padding-left: 16px;
    border: none;
  }

  &__table-td:last-child {
    padding-right: 16px;
    text-align: right;
  }

  &__table-btn.btn-oval {
    width: 119px;
  }

  &__table-tr:nth-child(1) .price__table-td:first-child {
    border-top-left-radius: 10px;
  }

  &__table-tr:last-child .price__table-td:first-child {
    border-bottom-left-radius: 10px;
  }

  &__table-tr:nth-child(1) .price__table-td:last-child {
    border-top-right-radius: 10px;
  }

  &__table-tr:last-child .price__table-td:last-child {
    border-bottom-right-radius: 10px;

  }
}





.btn-oval {
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 132px;
  height: 32px;
  font-size: 12px;
  line-height: 24px;
  color: $decoration-color-2;
  text-transform: uppercase;
  letter-spacing: -0.15px;
  background-color: $decoration-color-6;
  border-radius: 16px;

  &__text {
    font-family: 'TTLakes';
    position: relative;
    left: -10px;
    font-weight: 600;
  }

  &__text::before {
    position: absolute;
    top: -4px;
    left: 105%;
    width: 24px;
    height: 24px;
    content: '';
    background: url(../img/icons/dropdown.svg) no-repeat 50% 50%;
  }
}

.container {
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .price {
    &__table {
      display: table;
      width: 720px;
      margin: 0 24px;
      margin-bottom: 24px;
      border-collapse: collapse;
      border-radius: 6px;
    }

    &__container {
      display: none;
    }

    &__title {
      padding-left: 24px;
    }
  }

  .container {
    padding: 0 24px;
  }
}

@media screen and (min-width: 950px) {
  .price {
    &__table {
      width: 95%;
    }

    &__table-td {
      padding-right: 70px;
      // padding-right: 10vw;
    }
  }
}

@media screen and (min-width: 1200px) {
  .price__table {
    width: 96.5%;
  }
}

@media screen and (min-width: 1440px) {
  .price {
    &__table {
      width: 95%;
      margin: 0 32px;
      margin-bottom: 32px;
    }

    &__title {
      padding-left: 32px;
    }

    &__table-td {
      padding-right: 100px;
      // padding-right: 10vw;
    }
  }

  .container {
    padding: 0 32px;
  }
}